<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jms 
                           http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://activemq.apache.org/schema/core 
                           http://activemq.apache.org/schema/core/activemq-core.xsd">

	<bean id="customerService" class="trey.service.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao" />
	</bean>

	<bean id="eventService" class="trey.service.EventServiceImpl">
		<property name="eventDao" ref="eventDao" />
		<property name="customerService" ref="customerService" />
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="processingQueue" ref="processingQueue" />
	</bean>

	<bean id="customerDao" class="trey.dao.CustomerDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="eventDao" class="trey.dao.EventDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>

	<!-- a pooling based JMS provider -->
	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL">
					<value>${jms.broker.url}</value>
				</property>
			</bean>
		</property>
	</bean>

	<!-- Spring JMS Template -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />
	</bean>

	<bean id="processingQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="CUSTOMER.EVENT.PROCESSING" />
	</bean>

	<!-- ************* PROFILES ************* -->

	<beans profile="dev">
		<bean
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location">
				<value>env/dev.properties</value>
			</property>
		</bean>
	</beans>

	<beans profile="workstation">
		<bean
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location">
				<value>env/workstation.properties</value>
			</property>
		</bean>

		<!-- use quarantined database for event processing -->
		<import resource="spring-workstation.xml" />
	</beans>

</beans>
